<div class="bgimg-1" style="overflow: hidden">
  <div class="caption">
    <!-- style="float: left" -->
    <span class="border" style="font-size: 65px; background-color: rgba(67, 85, 79, 0.85);">Japanese Food Delivery</span>
  </div>
  <!-- <div style="float: right; padding-top: 150px;text-align: center; margin-left:1500px;">
    spam textspam textspam textspam textspam textspam textspam textspam textspam textspam textspam textspam textspam textspam
    textspam textspam textspam textspam text
  </div> -->
</div>

<div style="color: #777;background-color:white;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center; margin-top: -1px; padding-bottom: 5px;">Mission</h3>
  <p style="padding-left: 375px; padding-right: 300px; text-align: left">
    We don’t compromise. We believe that high quality japanese food should be available whether you’re on-the-go, dining in,
    or getting delivery.
    <br> We work with the finest ingredients, that are carefully sourced from purveyors we highly trust, so you can too. Because
    after all, fresh tastes better!
    <br> 
  </p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border">Order now!</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p style="padding-left: 522px; padding-right: 300px;">Our easy to use online ordering platform makes it very simple for you to order and get a high quality food.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border">Opening hours</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p style="padding-left: 733px; padding-right: 300px;">MONDAY TO FRIDAY 11:30AM - 9:00PM</p>
  </div>
</div>

