html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  color: rgb(2, 102, 60)
}

body>.container {
  padding-bottom: 100px;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  padding-bottom: 100px;
}

code {
  font-size: 80%;
}
