<div class="row">
  <div class="col-xs-10" style="padding-top: 50px; padding-left: 50px;">
    <!-- <app-shopping-edit></app-shopping-edit> -->
    <hr>
    <!-- <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" (click)="onFetchData()">View Cart</a>
    </ul> -->
    <span *ngIf="loggedUser!='null'">(test) {{loggedUser}}'s Cart:</span>
    <div class="row" *ngIf="isAuthenticated()">
      <div class="col-xs-12" *ngFor="let order of orders">
        <div *ngIf="order.email == loggedUser">
          <div class="row">
            <div class="col-xs-12">
              Ordered by {{order.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              Delivery Address: {{order.address}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              Ordered by Email: {{order.email}}
            </div>
          </div>

          <div class="col-xs-12" *ngFor="let cart of order.cart">

            <div class="row">
              <div class="col-xs-12" style="padding:50px 30px 10px 20px">
                <img [src]="cart.imagePath" alt="{{ cart.name }}" class="img-responsive" style="max-height: 300px;">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h1>{{ cart.name }}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" style="margin-bottom: 15px;">
                {{ cart.description }}
              </div>
              <div class="col-xs-4">Price: ${{cart.price}}</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

