<nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark" style=" pointer-events:none; margin-bottom: 0px; background-color:rgba(0, 255, 200, 0.082); box-shadow: none; border: none">
  <div class="container-fluid">
    <div class="navbar-header bg-light">
      <a routerLink="/" class="navbar-brand" style="pointer-events:auto; text-shadow: 0 0 5px rgba(248, 222, 205, 0.616), 5px 3px 10px rgba(179, 255, 0, 0.726); font-size: 28px;">Oishii</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/menu" style="pointer-events:auto; text-shadow: 0 0 1px rgba(255, 237, 237, 0.753), 1px 1px 3px rgba(179, 255, 0, 0.692); font-size: 17px;"><span class="glyphicon glyphicon-th"></span> Menu</a>
        </li>
        <li routerLinkActive="active" *ngIf="loggedUser!='null'">
          <a routerLink="/cart" style="pointer-events:auto; text-shadow: 0 0 1px rgba(255, 237, 237, 0.753), 1px 1px 3px rgba(179, 255, 0, 0.829); font-size: 17px;"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li>
            <a routerLink="/signup" style="pointer-events:auto; font-size: 16px; text-shadow: 0 0 1px rgba(248, 222, 205, 0.199), 1px 1px 1px rgba(169, 173, 159, 0.2);"><span class="glyphicon glyphicon-edit"></span> Sign Up</a>
          </li>
          <li>
            <a routerLink="/signin" style="pointer-events:auto; font-size: 16px; text-shadow: 0 0 1px rgba(248, 222, 205, 0.199), 1px 1px 1px rgba(169, 173, 159, 0.2);"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
          </li>
        </ng-template>

        <li>
          <a style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated()" style="pointer-events:auto;"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>

        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button" style="pointer-events:auto;"><span class="glyphicon glyphicon-wrench"></span> Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer;" (click)="onSaveData()" style="pointer-events:auto;"><span class="glyphicon glyphicon-cloud-upload"></span> Save Data</a>
            </li>
            <li>
              <a style="cursor: pointer;" (click)="onFetchData()" style="pointer-events:auto;"><span class="glyphicon glyphicon-cloud-download"></span> Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

