<div class="row">
  <div class="col-xs-12">
    <img [src]="meal.imagePath" alt="{{ meal.name }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ meal.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isAuthenticated()" class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Meal
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li> -->
        <li>
          <a style="cursor: pointer;" (click)="onEditMeal()">Edit Meal</a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onDeleteMeal()">Delete Meal</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ meal.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <!-- <li
        class="list-group-item"
        *ngFor="let ingredient of meal.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li> -->
    </ul>
  </div>
</div>

