<div class="row">
  <div class="col-xs-12" style="padding:50px 30px 10px 20px">
    <img [src]="meal.imagePath" alt="{{ meal.name }}" class="img-responsive" style="max-height: 300px; border-radius: 20%">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ meal.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isAuthenticated()" class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Meal
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer;" (click)="onEditMeal()">Edit Meal</a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onDeleteMeal()">Delete Meal</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 15px;">
    {{ meal.description }}
  </div>
  <div class="col-xs-4" style="font-family: TimeBurnerBold; font-size: 18px;">Price: ${{meal.price}}</div>
  <div class="col-xs-8"><button type="submit" class="btn btn-success" (click)="addToCart(meal)"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button></div>
  
  <!-- <div class="col-xs-12" *ngIf="!flag">
    <form [formGroup]="orderInfoForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!mealForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" formControlName="address" class="form-control" #address>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="contactInfo">Contact Information</label>
            <input type="text" id="contactInfo" formControlName="contactInfo" class="form-control" #contactInfo>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">

    </ul>
  </div>
</div>

